{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <!--Empty container to push body content below nav bars-->
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
    
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row">
            <div class="col text-center logo-txt gold-special-txt display-4 mb-4">
                {{ guitar.brand }} - {{ guitar.guitar_model }}
            </div>
        </div>
        <div class="row h-100">
            <div class="col-12 main-content-col">
                <div class="row">

                    <!-- Guitar image -->
                    <div class="col-12 col-md-5 d-flex align-items-center">
                        <div class="guitar-image-container d-flex justify-content-center mx-auto">
                            {% if guitar.image_id %}
                                <a href="{{ guitar.image_id.url }}" target="_blank">
                                    <img src="{{ guitar.image_id.url }}" class="guitar-detail-image" alt="{{ guitar.brand }} {{ guitar.guitar_model }}">
                                </a>
                                
                                {% else %}
                                <a href="">
                                    <img src="{{ MEDIA_URL }}noimage.png" class="guitar-detail-image" alt="{{ guitar.brand }} {{ guitar.guitar_model }}">
                                </a>
                            {% endif %}
                        </div> <!-- close image container -->
                    </div>

                    <!-- Guitar Details-->
                    <div class="col-12 col-md-7 mb-4">
                        <div class="row guitar-details-container">
                        
                            <!-- Main Details -->
                            <div class="col-6">
                                <div class="d-flex flex-row">
                                    <p class="col-6">Category</p>
                                    <p class="col-6">{{ guitar.category }}</p>
                                </div>
                                <div class="d-flex flex-row">
                                    <p class="col-6">Tier</p>
                                    <p class="col-6">{{ guitar.tier }}</p>
                                </div>
                                <div class="d-flex flex-row">
                                    <p class="col-6">Status</p>
                                    <p class="col-6">{{ guitar.status }}</p>
                                </div>
                                <div class="d-flex flex-row">
                                    <p class="col-6">Handed</p>
                                    <p class="col-6">{{ guitar.handed }}</p>
                                </div>
                                <div class="d-flex flex-row">
                                    <p class="col-6">Approx. Age</p>
                                    <p class="col-6">{{ guitar.approx_age_years }} (years)</p>
                                </div>
                                <div class="d-flex flex-row">
                                    <p class="col-6">Condition</p>
                                    <p class="col-6">{{ guitar.condition }}</p>
                                </div>
                                <div class="d-flex flex-row">
                                    <p class="col-6">Condition Rating</p>
                                    <p class="col-6">{{ guitar.rating_condition }}</p>
                                </div>
                                <div class="d-flex flex-row">
                                    <p class="col-6">Overall Rating</p>
                                    <p class="col-6">{{ guitar.rating_overall }}</p>
                                </div>
                            </div> <!-- close main details -->

                            <!-- Actions -->
                            <div class="col-6">
                                <div class="row">
                                    {% if request.user.is_authenticated %}
                                        <ul class="list-inline list-unstyled d-flex justify-content-evenly align-items-baseline">
                                            <li class="list-inline-item w-20 pb-0 ">
                                                
                                                <!--option A : Add Favourite -->
                                                <a href="{% url 'favourite_add' guitar.id %}" class="btn btn-sm btn-add-fav align-baseline">
                                                    <i class="far fa-heart fa-2x"></i>
                                                    <p class="pb-0"><small>Add Favourite</small></p>
                                                </a>
                                                
                                                <!--option B : Remove Favourite -->
                                                <a href="" class="btn btn-sm d-none btn-remove-fav align-baseline">
                                                    <i class="fas fa-heart fa-2x"></i>
                                                    <p class="ps-2"><small>Remove Favourite</small></p>
                                                </a>
                                            </li>

                                            <li class="list-inline-item w-20 pb-0 align-baseline">

                                                <!--option A : Add to Rack -->
                                                <a href="" class="btn btn-sm btn-take align-baseline">
                                                    <img src="{{ MEDIA_URL }}guitar_gold_add.svg" class="guitar-svg add-gold">
                                                    <img src="{{ MEDIA_URL }}guitar_black_add.svg" class="guitar-svg add-black">
                                                    <p class=""><small>Add to Rack</small></p>
                                                </a>

                                                <!--option B : Remove from Rack -->
                                                <a href="" class="btn btn-sm btn-take d-none align-baseline">
                                                    <img src="{{ MEDIA_URL }}guitar_gold_remove.svg" class="guitar-svg add-gold">
                                                    <img src="{{ MEDIA_URL }}guitar_black_remove.svg" class="guitar-svg add-black">
                                                    <p class="ps-2"><small>Remove from Rack</small></p>
                                                </a>
                                            </li>
                                        </ul>
                                    {% endif %}
                                </div>
                            
                                <div class="row">
                                    <div class="col-12 ms-2 mb-2">
                                        <div class="my-2">What we love;</div>
                                        
                                        <div class="guitar-comments gold-txt lg-txt">
                                            <i class="gold-txt fas fa-quote-left" data-fa-transform="up-5"></i>
                                            <em>{{ guitar.owners_additional_comments }}</em>
                                            <i class="gold-txt fas fa-quote-right align-self-end" data-fa-transform="up-5"></i>
                                        </div>
                                    </div>
                            </div>
                        </div>
                                
                            
                        <!--Additional Specs -->
                        <div class="col-12 guitar-specs p-3">
                            <h3 class="ms-4 gold-txt">Additional Specs</h3>
                            <div class="row">
                                <!--left col-->
                                <div class="col-6">
                                    <div class="gold-txt">Body</div>
                                    <div>Construction: {{ guitar.construction }}</div>
                                    <div>Body Wood: {{ guitar.body_wood }}</div>
                                    <div>Top Wood: {{ guitar.body_top }}</div>

                                    <div class="gold-txt mt-2">Neck:</div>
                                    <div>{{ guitar.frets }} frets</div>
                                    <div>{{ guitar.no_strings }} strings</div>
                                    <div>Neck Wood: {{ guitar.neck_wood }}</div>
                                    <div>Scale length: {{ guitar.scale_length }}</div>
                                    <div>Neck Profile: {{ guitar.neck_profile }}</div>
                                </div>
                                <!--right col -->                              
                                <div class="col-6">
                                    <div class="gold-txt">Electronics & Hardware:</div>
                                    <div>Tuners: {{ guitar.tuners }}</div>
                                    <div>No. Pick-ups: {{ guitar.no_pickups }}</div>
                                    <div>Pick-ups: {{ guitar.pickups_desc }}</div>
                                    <div>Controls: {{ guitar.controls }}</div>
                                    
                                    
                                </div> 
                            </div>        
                        </div> <!--close Additional Specs -->
                    </div> <!--close Guitar Details -->
                        
                </div>  <!--close sub-parent row-->
            </div>      <!--close parent col-->
        </div>          <!--close parent row-->
    </div>              <!--close container-->
{% endblock %}