{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <!--Empty container to push body content below nav bars-->
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
    
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row">
            <div class="col text-center logo-txt gold-special-txt display-4 mt-5 mb-5">
                Guitars
            </div>
        </div>
        <div class="row h-100">
            <div class="col main-content-col my-auto">
                <div class="row">
                    
                    {% for guitar in guitars %}

                        <div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-4">
                            <div class="card bg-dark guitar-card h-100 gold-accent-outline">

                                <!--card image -->
                                {% if guitar.image_id %}
                                <a href="{% url 'guitar_detail' guitar.id %}" class="guitar-image-link">
                                    <img src="{{ guitar.image_id.url }}" class="card-img-top" alt="{{ guitar.brand }} {{ guitar.guitar_model }}">
                                </a>

                                {% else %}
                                <a href="{% url 'guitar_detail' guitar.id %}" class="guitar-image-link">
                                    <img src="{{ MEDIA_URL }}noimage.png" class="card-img-top " alt="{{ guitar.brand }} {{ guitar.guitar_model }}">
                                </a>
                                {% endif %}

                                <!-- tier pendant (overlays image)-->
                                <div class="card-custom-overlay pt-0">
                                    <div class="fa-layers fa-fw tier-pendant">
                                        {% if guitar.tier %}
                                            {% if guitar.tier == 'Platinum' %}
                                                <i class="fas fa-bookmark fa-6x tp-platinum"></i>
                                                <!--Longer tier requires different transform adjustments for Platinum -->
                                                <span class="fa-layers-text fa-inverse tp-text" data-fa-transform="rotate--270 right-27">{{ guitar.tier }}</span>
                                            {% else %}    
                                                {% if guitar.tier == 'Gold' %}
                                                    <i class="fas fa-bookmark fa-6x tp-gold"></i>
                                                    
                                                {% elif guitar.tier == 'Silver'%}
                                                    <i class="fas fa-bookmark fa-6x tp-silver"></i>
                                                
                                                {% elif guitar.tier == 'Bronze'%}
                                                    <i class="fas fa-bookmark fa-6x tp-bronze"></i>
                                                
                                                {% endif %}
                                                <span class="fa-layers-text fa-inverse tp-text" data-fa-transform="rotate--270 right-27 up-7">{{ guitar.tier }}</span>
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                </div>

                                <!-- card content -->
                                <h5 class="card-title text-center pt-2">{{ guitar.brand }} - {{ guitar.guitar_model }}</h5>
                                <div class="row card-body">
                                    <div class="col">
                                        <div class="guitar-card-list">
                                            <div class="d-flex flex-row">
                                                <p class="col-6">Category</p>
                                                <p class="col-6">{{ guitar.category }}</p>
                                            </div>
                                            <div class="d-flex flex-row">
                                                <p class="col-6">Status</p>
                                                <p class="col-6">{{ guitar.status }}</p>
                                            </div>
                                            <div class="d-flex flex-row">
                                                <p class="col-6">Handed</p>
                                                <p class="col-6">{{ guitar.handed }}</p>
                                            </div>
                                            <div class="d-flex flex-row">
                                                <p class="col-6">Condition</p>
                                                <p class="col-6">{{ guitar.condition }}</p>
                                            </div>
                                            <div class="d-flex flex-row">
                                                <p class="col-6">Condition Rating</p>
                                                <p class="col-6">{{ guitar.rating_condition }}</p>
                                            </div>
                                            <div class="d-flex flex-row">
                                                <p class="col-6">Overall Rating</p>
                                                <p class="col-6">{{ guitar.rating_overall }}</p>
                                            </div>
                                        </div>
                                    </div>    
                                </div> <!--close card body -->
                                
                                <!--card footer-->
                                <div class="card-footer text-muted">
                                    <ul class="list-inline list-unstyled d-flex justify-content-evenly align-items-baseline">
                                        <li class="list-inline-item w-20 pb-0 ">
                                            <!--Reminder - once profiles created add JS to toggle display of favourite / remove favourite button-->
                                            
                                            <!--option A : Add Favourite -->
                                            <btn type="button" class="btn btn-sm btn-add-fav align-baseline">
                                                <i class="far fa-heart fa-2x"></i>
                                                <p class="pb-0"><small>Add Favourite</small></p>
                                            </btn>
                                            
                                            <!--option B : Remove Favourite -->
                                            <btn type="button" class="btn btn-sm d-none btn-remove-fav align-baseline">
                                                <i class="fas fa-heart fa-2x"></i>
                                                <p class="ps-2"><small>Remove Favourite</small></p>
                                            </btn>
                                        </li>

                                        <li class="list-inline-item w-20 pb-0 align-baseline">
                                            <!--REMINDER - once profile complete switch between add / remove icon-->

                                            <!--option A : Add to Rack -->
                                            <btn type="button" class="btn btn-sm btn-take align-baseline">
                                                <!--Temporary image src to be updated with correct Media links-->
                                                <img src="/media/Guitar_gold_add.svg" class="guitar-svg add-gold">
                                                <img src="/media/Guitar_black_add.svg" class="guitar-svg add-black">
                                                <p class=""><small>Add to Rack</small></p>
                                            </btn>

                                            <!--option B : Remove from Rack -->
                                            <btn type="button" class="btn btn-sm btn-take d-none align-baseline">
                                                <!--Temporary image src to be updated with correct Media links-->
                                                <img src="/media/Guitar_gold_remove.svg" class="guitar-svg add-gold">
                                                <img src="/media/Guitar_black_remove.svg" class="guitar-svg add-black">
                                                <p class="ps-2"><small>Remove from Rack</small></p>
                                            </btn>
                                        </li>
                                    </ul>
                                </div>      <!--close card footer -->
                            </div>          <!--close card  -->
                        </div>              <!--close card col -->

                    {% endfor %}
                    




                </div>  <!--close sub-parent card row-->
            </div>      <!--close parent card col-->
        </div>          <!--close parent card row-->
    </div>              <!--close conainer-->
{% endblock %}