{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <!--Empty container to push body content below nav bars-->
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
    
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row h-100">
            <div class="col main-content-col my-auto">
                {{ guitars }}}}

                
            </div>
        </div>
    </div>
{% endblock %}