{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <!--Empty container to push body content below nav bars-->
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
    
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="col-12">
            <div class="row">
                <h1 class="gold-special-txt my-4 text-center">Site Administration</h1>
            </div>
            <div class="row main-content">

                <!--Manage Guitars-->
                <div class="row mt-4 d-flex align-items-center">
                    <div class="col-4">
                        <h4>Accounts</h4>
                    </div>

                    
                </div>

            </div>
        </div>
    </div>
  
{% endblock %}
