{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <!--Empty container to push body content below nav bars-->
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
    
{% endblock %}

{% block content %}
    <div class="container-lg">
        {% if request.user.is_superuser %}
            <div class="col-12">
                <div class="row">
                    <h1 class="gold-special-txt my-4 text-center">Site Administration</h1>
                </div>

                <div class="main-content px-3">
                    <div class="row p-4">
                        <div class="col-12">
                            <h4 class="gold-special-txt text-center my-3 mx-auto inline ">Accounts</h4>
                            <a href="{% url 'site_admin' %}" class="btn  btn-gold-outline py-2 float-end">Return to Site Admin</a>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 p-4">
                            <table class="text-center mx-auto table table-dark table-striped">
                                <tr class="table-underline">
                                    <th class="">Member</th>
                                    <th class="">Tier</th>
                                    <th class="">Date Joined</th>
                                    <th class="">Plan Status</th>
                                    <th class="">Date Canx (if applic.)</th>
                                    <th class="">Plectrum Balance</th>
                                    <th class="">Actions</th>
                                </tr>
                                <tr>
                                {% for account in accounts %}
                                </tr>
                                <tr class="pt-5">
                                    <td>{{ account.order.member_profile }}</td>
                                    <td>{{ account.order.subscription_plan }}</td>
                                    <td>{{ account.order.date }}</td>
                                    <td>{{ account.active|yesno:"Active,Cancelled" }}</td>
                                    <td>{{ account.canx_date|default_if_none:"-" }}</td>
                                    <td>{{ account.plectrum_balance }}</td>
                                    <td>
                                        <a href="{% url 'canx_account' account.id %}" class="btn btn-sm btn-outline-danger">Cancel</a>
                                    </td>
                                </tr>
                                {% empty %}
                                <p> There are no accounts!
                                {% endfor %}
                            </table>
                        </div>
                    </div>

                     <!--Admin Tasks-->
                     <div class="row">
                        <div class="col-12">
                            <h4 class="gold-txt text-start ps-4">Admin Tasks</h4>

                            <!--Button to Award Monthly Token-->
                            <div class="row pt-2">
                                <div class="col-8">
                                    <p class="text-start ps-4"><span class="gold-txt ps-2">Award Plectrums:</span> This operation is performed to increase plectrum balances by 1 for <u>ALL ACTIVE</u> accounts.</p>
                                </div>
                                <div class="col-4">
                                    <a href="{% url 'award_plectrums' %}" class="btn btn-sm btn-outline-success">Award Plectrums</a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <p class="text-muted px-4">Note: this action is for project purposes only, a live deployed version would need to incorporate logic to limit increase once per month diarised to synch with the account start date.</p>
                                </div>
                            </div>
                            <hr class="mb-2">
                        
                        </div>

                    </div>
                </div>
            </div>
        {% else %}
        <div>
            <div class="col-12">
                <div class="row">
                    <h1 class="gold-special-txt my-4 text-center">Resticted Access</h1>
                    <a href="{% url 'home' %}" class="btn btn-md btn-gold-outline mx-auto">Please Return to the Home Page</a>
                </div>
            </div>
        </div>
        {% endif %}
    </div>              

  
{% endblock %}
