{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <!--Empty container to push body content below nav bars-->
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
    
{% endblock %}

{% block content %}
    <div class="container">
        <div class="col-12">
            <div class="row">
                <h1 class="gold-special-txt my-4 text-center">Site Administration</h1>
            </div>
            <div class="row main-content">

                <!--Manage Guitars-->
                <div class="row mt-4 d-flex align-items-center">
                    <div class="col-4">
                        <h4>Manage Guitars</h4>
                    </div>

                    <div class="col-8 d-flex justify-content-evenly">
                            <a href="{% url 'guitarlist' %}" class="btn btn-md btn-gold-outline mb-4">Update / Delete Existing Guitar</a>
                            <a href="{% url 'add_guitar' %}" class="btn btn-md btn-gold-outline mb-4">Add New Guitar</a>
                    </div>
                    <hr class="mb-0">
                </div>
                
                
                <!--Manage Subscriptions-->
                <div class="row mt-4 d-flex align-items-center">
                    <div class="col-4">
                        <h4>Manage Subscription Services</h4>
                    </div>

                    <div class="col-8">
                        <div class="row d-flex justify-content-evenly">
                            <a href="{% url 'orderlist' %}" class="btn btn-md btn-gold-outline mb-1">View & Manage Orders</a>
                            <a href="{% url 'add_order' %}" class="btn btn-md btn-gold-outline mb-1">Add Order <small class="text-danger">[FOR TESTING ONLY]</small></a>
                            <p class="text-danger text-end mb-4">Caution: Orders created directly by-pass payment processes!</p>
                        </div>
                        <div class="row d-flex justify-content-evenly">
                            <a href="{% url 'list_accounts' %}" class="btn btn-md btn-gold-outline mb-4">Manage Accounts</a>
                            <a href="{% url 'list_guitar_loans' %}" class="btn btn-md btn-gold-outline mb-4">Guitar Loan Requests </a>
                        </div>
                    </div>
                    <hr class="mb-0">
                </div>
                
                <!--Admin Console-->
                <div class="row mt-4 d-flex align-items-center">
                    <div class="col-4">
                        <h4>Admin Console</h4>
                    </div>

                    <div class="col-8">
                        <p><strong>Please use the pre-built forms above to manage items.</strong></p>
                        <p>A link to the main admin panel has been provided where the required action is not available via the forms (e.g. validate user's email).</p>
                        <a href="{% url 'admin:index' %}" class="btn btn-lg btn-wide btn-outline-danger mb-4" target="_blank">Link to the admin console</a>
                    </div>
                    <hr class="mb-0">
                </div>

            </div>
        </div>
    </div>
  
{% endblock %}
