{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <!--Empty container to push body content below nav bars-->
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
    
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="col-12">
            <div class="row">
                <div class="col main-content mt-1">
                    <h1 class="gold-special-txt my-4">Site Administration</h1>
                    <div>
                        <p>Please use the pre-built forms below to manage items. A link to the main admin panel has been provided should the required action not be permitted via the forms and should be used as a last resort.</p>
                        <a href="{% url 'admin:index' %}" class="btn btn-lg btn-wide btn-gold-outline mb-4">Link to main admin console</a>
                    </div>
                    
           
                </div> <!--close main central column-->
            </div>
        </div>
    </div>
  
{% endblock %}
