{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <!--Empty container to push body content below nav bars-->
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
    
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row">
            <div class="col mt-2">
                <h1 class="gold-special-txt text-center">Shopping Bag</h1>
            </div>      
        </div>          <!--Close Welcome row-->

        <div class="row">
            <div class="col main-content mt-2">
                {% if bag_items %}
                    <div class="table-responsive">

                    </div>
               {% else %}
                    <p class="lead mt-5"> You have not added anything to your bag</p>
                    <a href="{% url 'subscriptions' %}" class="btn btn-gold-outline">View our subscription plans</a>
                {% endif %}
            </div> 
        </div>         


        
    </div> <!--close main container-->
{% endblock %}