{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <!--Empty container to push body content below nav bars-->
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
    
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row">
            <div class="col mt-2">
                <h1 class="gold-special-txt text-center mb-3">Shopping Bag</h1>
            </div>      
        </div>          <!--Close Welcome row-->

        <div class="row">
            <div class="col-12 col-md-6 offset-md-3 main-content mt-2 my-auto">

                {% if bag_items %}
                    <div class="row">
                        <div class="col-12">
                            <p class="mt-3 lead">Thank you for choosing to join Guitar Vault.</p>
                            <p>Your chosen plan is shown below;</p>     
                            {% for item in bag_items %}
                                
                                <div class="d-flex flex-row">
                                    <p class="col-6">Subscription Tier:</p>
                                    <p class="col-6">{{ item.subscription }}</p>
                                </div>
                                <div class="d-flex flex-row">
                                    <p class="col-6">Monthly Fee:</p>
                                    <p class="col-6">£{{ item.subscription.price }}</p>
                                </div>
                            {% endfor %}
                        </div>
                    </div>  
                       
                    
                    <div class="row">
                        <div class="col-12 justify-content-evenly mt-2 pb-3">
                            <div class="row">
                                <div class="col-10 offset-1 col-md-6 offset-md-0 mb-2">
                                    <a class="btn btn-outline-secondary" type="button" href="{% url 'subscriptions' %}">
                                        <i class="fas fa-angle-left"></i>
                                        <span class="mx-2">Switch to Another Plan</span>
                                    </a>
                                </div>
                                
                                <div class="col-10 offset-1 col-md-6 offset-md-0">
                                    <a class="btn btn-gold-outline" type="button" href="{% url 'checkout' %}">
                                        <span><i class="fas fa-credit-card"></i></span>
                                        <span class="ps-2">Proceed to Payment</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                {% else %}
                    <p class="lead mt-5"> You have not added anything to your bag</p>
                    <a href="{% url 'subscriptions' %}" class="btn btn-lg btn-wide btn-gold-outline mb-4">View our subscription plans</a>
                    <br>
                    <a href="{% url 'home' %}" class="btn btn-lg btn-wide btn-gold-outline">Return to Home Page</a>
                {% endif %}
            </div> 
        </div>                 
    </div> <!--close main container-->
{% endblock %}