{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <!--Empty container to push body content below nav bars-->
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
    
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row">
            <div class="col main-content mt-2">
                <h1 class="gold-special-txt">Shopping Bag</h1>
            </div>      
        </div>          <!--Close Welcome row-->


        <div class="row">
            <div class="col main-content mt-2">
                
               
            </div> 
        </div>         


        
    </div> <!--close main container-->
{% endblock %}