{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <!--Empty container to push body content below nav bars-->
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
    
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row">
            <div class="col main-content mt-1">
                <h1 class="gold-special-txt mt-2 mb-5">Welcome to the Guitar Vault</h1>
                <div class="d-flex justify-content-evenly pb-2">
                    <a href="{% url 'subscriptions' %}" class="btn btn-lg btn-gold-outline">New? View our subscription plans</a>
                    <a href="{% url 'guitars' %}" class="btn btn-lg btn-gold-outline">Take a peek inside the vault!</a>
                </div>
            </div>      
        </div>          <!--Close Welcome row-->


        <div class="row">
            <div class="col-12 main-content mt-2">
                <h1 class="gold-special-txt">Featured Guitars</h1>
                <div class="row">
                    <div class="col-12 col-md-6 offset-md-3">
                        <div id="featured-carousel" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-inner text-center py-2">
                                {% for guitar in guitars %}
                                    {% if guitar.featured %}
                                        <!-- BUG: guitar.id hard-coded to apply 'active' class to first instance. See README Bugs for more details -->
                                        {% if guitar.id == 3 %}
                                            <div class="carousel-item active">
                                        {% else %}
                                            <div class="carousel-item">
                                        {% endif %}
                                                <img src="{{ guitar.image_id.url }}" class="mx-auto rounded d-block" alt="{{ guitar.brand }} {{ guitar.guitar_model }}">
                                            </div> <!--close carousel item-->
                                    {% endif %}
                                {% endfor %}
                            </div> <!--close carousel inner -->
                        </div>
                    </div>
                </div>  <!--close carousel -->
            </div>      <!--close main content col -->
        </div>          <!--close Featured row -->


        <div class="row">
            <div class="col-12 col-md-guttered main-content mt-2">
                <div class="col-12">
                    <h1 class="gold-special-txt">About Guitar Vault</h1>
                </div>
            </div>
            <div class="d-none d-md-block col-md-gutter"><!--Empty column to add gutter - see bug fix in related CSS--></div>
            <div class="col-12 col-md-guttered main-content mt-2">
                <div class="col-12">
                    {% if request.user.is_authenticated %}
                        <h1 class="gold-special-txt">How Are We Doing?</h1>
                        <h4 class="gold-special-txt">We want your Feedback - please spare 5 minutes to complete this questionnaire and help shape the future of our service</h4>
                    {% else %}
                        <h1 class="gold-special-txt">Members Feedback</h1>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}