{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <!--Empty container to push body content below nav bars-->
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
    
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row">
            <div class="col mt-2">
                {% if request.user.is_authenticated %}
                    <h1 class="gold-special-txt text-center mb-3">Payment</h1>
                {% else %}
                    <h1 class="gold-special-txt text-center mb-3">Login / Create Account to Continue</h1>
                {% endif %}
            </div>      
        </div>          

        <div class="row">
            <div class="col-12 col-md-6 offset-md-3 main-content mt-2 my-auto">
                {% if request.user.is_authenticated %}
                    <!--REMINDER: After creating profile add section to offer change subscription plan if existing user-->
                    <div class="lead">Welcome back [USERNAME]<!--REMINDER: insert django tag to insert username here-->!</div>
                {% else %}
                    <div class="row pt-2">
                        <div class="col-6 d-flex flex-column">
                            <div class="lead text-center">If you have an existing account please log-in.</div>
                            <a class="btn btn-gold-outline mt-auto" type="button" href="{% url 'account_login' %}">
                                <span class="ps-2">Log-In</span>
                            </a>
                            
                        </div>
                        <div class="col-6 d-flex flex-column">
                            <div class="lead text-center ">Otherwise, please create an account to proceed with your order.</div>
                            <a class="btn btn-gold-outline mt-auto" type="button" href="{% url 'account_signup' %}">
                                <span class="ps-2">Create Account</span>
                            </a>
                        </div>
                    </div>
                {% endif %}
                    
               
            </div> 
        </div>                 
    </div> <!--close main container-->
{% endblock %}