/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

/* Root variables & imports */
@import url('https://fonts.googleapis.com/css2?family=Varta&family=Lobster&display=swap');


:root {
    
    /* Typography */
    --logo-text: 'Lobster', cursive;
    --standard-text: 'Varta', sans-serif;

    /* Color Palette */
    /* primary colours */
    --ivory: rgb(255, 255, 240);
    --black: rgb(0,0,0);
    --off-black: rgb(65,74,76);
    --off-gold: rgb(238,204,102);  /* HEX value #EECC66 */
 
    /* button and icons */
    --gold:rgb(207, 166, 41);
    --gold-dark: rgb(175, 140, 34);
    --silver: rgb(187, 194, 204);
    --silver-dark: rgb(151, 152, 155);
    --bronze: rgb(205, 127, 50);
    --bronze-dark: rgb(160, 93, 26);
    --purple: rgb(116, 116, 219);  /*- used for platinum backgrounds */
    --purple-dark: rgb(85, 85, 170);
    --green: rgb(25, 135, 84);     /* HEX value #198754 */
    --green-dark: rgb(19, 105, 65);
    --red: rgb(255, 0, 0);
    --red-dark: rgb(185, 13, 13);
    --transp: rgba(0,0,0,0);

}


body {
    color:var(--ivory);
    background-color: var(--black);
    font-family: var(--standard-text);
}

html, body {
    height:100%;
}

body>footer {
    position:sticky;
    top:100vh;
}

.message-container {
    position: fixed;
    top:10vh;
    right:  15px;
    z-index: 99999999999;
}

.custom-toast{
    overflow:visible;
}

.toast-capper {
    height:2px;
}

/*-- Text Classes --*/

.lg-txt {
    font-size:1.5rem;
}

.small-txt {
    font-size:0.75rem;
}

.logo-txt {
    font-family: 'Lobster', cursive;
}

.ivory-txt {
    color:var(--ivory);
}

/* Utilities */

.inline {
    display:inline;
}

/* Gold textured mask */
.gold-special-txt {
    color:var(--off-gold); /*- backup font color if text mask fails -*/
    background: url('/media/gold-texture.jpg');
    background-size: cover;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -moz-background-clip:text;
    background-clip:text;
}

/* standard gold text */
.gold-txt {
    color: var(--off-gold);
}

/* gold on hover txt */
.gold-accent-txt:hover,
.gold-accent-txt:focus,
.gold-accent-txt:active {
    color: var(--off-gold);
}

.gold-accent-outline:hover,
.gold-accent-outline:focus,
.gold-accent-outline:active {
    border: 3px solid var(--off-gold);
    color: var(--off-gold);
}




/*-----Nav Bar----------------------------------*/

.nav-banner {
    background: url('/media/banner-img.jpeg') no-repeat center bottom fixed;
    background-size: cover;
    border-bottom: 5px solid transparent;
    /*--border-color: var(--off-gold);--*/
    -o-border-image: url('/media/gold-texture.jpg') 30% stretch;
       border-image: url('/media/gold-texture.jpg') 30% stretch;
}

.navbar-logo {
    height:100%;
}

/* override default anchor tag style */ 
.nav-link, .dropdown-item, .dropdown-toggle {
    color:var(--ivory);
}

/* Override Bootstrap default nav background */   
.bg-dark {
    --bs-bg-opacity: 0;
}

.navbar-dark .navbar-nav .nav-link {
    color: var(--ivory);
}

.navbar-toggler-icon {
    background-color:var(--off-black);
    border: 1px solid var(--off-gold);
}

#main-nav-items .nav-link:focus, 
#main-nav-items .nav-link:hover, 
#main-nav-items .nav-link:active,
.nav-link:focus,
.nav-link:hover,
.nav-link:active { 
    color: var(--off-gold);
    font-weight: bold;
}

.dropdown-menu {
    background-color: var(--black);
    border: 2px solid var(--off-gold);
}

.admin-dropdown {
    color: var(--red);
}

.admin-dropdown:focus,
.admin-dropdown:hover,
.admin-dropdown:active {
    color: var(--black);
    background-color: var(--red-dark);
}


/*--Nav Media Queries (adjustable header container)-----------------------------*/

@media (max-width: 767px) {
    /* align nav dropdown items to left */
    .nav-link {
        text-align:left;
    }
}

/*- Header Container --*/
.header-container {
    padding-top:200px;
}


@media (min-width: 768px) {
    .header-container {
        padding-top:280px;
    }
}

/*-- Footer -----------------------------------------------*/
footer {
    width: 100%;
    background-image: linear-gradient(25deg,
        var(--gold-dark),
        var(--gold),
        var(--off-black) 40%,
        var(--off-gold)
    );
}

#footer-external-links> a {
    text-decoration: none;
    color: var(--ivory);   
}

/*--Buttons & Search Field ---------------------------------*/

.btn-search,
.search-input {
    border: 3px solid var(--ivory);
}

.search-input {
    background-color: var(--ivory);
}

.input-group {
    border: 3px solid var(--transp);
}

/*-- SVG Icons ----*/
.guitar-svg {
    height:3rem;
}

.add-black {
    display:none;
}

.btn-take {    
    color:var(--off-gold);
}

/* switch display / hide for reverse image on hover */
.btn-take:hover .add-black {
    display:inline;
}

.btn-take:hover .add-gold {
    display:none;
}

.btn-take:hover {
    background-color:var(--off-gold);
}

.btn-add-fav {
    color:var(--green);
}

.btn-add-fav:hover {
    background-color:var(--green);
    color: var(--ivory);
}

.btn-remove-fav {
    color:var(--bronze-dark);
}

.btn-remove-fav:hover {
    background-color:var(--bronze-dark);
    color: var(--ivory);
}

.btn-gold-outline {
    color:var(--off-gold);
    border: 3px solid var(--off-gold);
    background-color: var(--transp); /* prevents default white background */
}

.btn-gold-outline:hover {
    background-color:var(--off-gold);
    color:var(--off-black);
}

.btn-wide {
    width:25vw;
}

.btn-md {
    width:15vw;
    min-width:150px;
}

/*---Index.html-------------------------------------------*/


.main-content {

    min-height:20vh;
    text-align: center;
    border:2px solid var(--off-gold);
}

.carousel-img {
    -o-object-position: center;
       object-position: center;
    -o-object-fit: cover;
       object-fit: cover;
    height:35vh;
}

.guitar-background-img {
    margin-top:10vh;
    background-size: cover;
}

/*-modals*/

.modal-border {
    border: 3px solid var(--off-gold);
}

.modal-header {
    background-color:var(--off-gold);
}

.modal-title {
    color:var(--black);
}

.modal-body {
    background-color:var(--black);
}


/*----Guitar Card---------------------------------------------*/

.guitar-card {
    border: 3px solid var(--ivory);
    padding: 2px;
}

.guitar-card-list {
    background-color: var(--transp);
    line-height:0.75rem;   
}

.card-img-top {
    max-height: 35vh;
    display: block;
    -o-object-fit: contain;
       object-fit: contain;
    aspect-ratio: 3 / 2;
    overflow: hidden;
    
}
.card-img-top> img {
    -webkit-box-shadow: 0 0 8px 8px white inset;
            box-shadow: 0 0 8px 8px white inset;
}

.tp-text {
    font-weight:900;
}

.card-custom-overlay {
    position:absolute;
    top: 5%;
    right: 25%;
}

.tp-platinum {
    color: var(--purple);
    -webkit-transform: translateY(1.5rem) scale(1,1.5);
        -ms-transform: translateY(1.5rem) scale(1,1.5);
            transform: translateY(1.5rem) scale(1,1.5);
}

.tp-gold {
    color:var(--gold);
}

.tp-silver {
    color:var(--silver);
}

.tp-bronze {
    color:var(--bronze);
}

/*--BUG FIX: Split columns were not applying central gutter, addressed with unique styling at medium breakpoint --*/
@media (min-width:768px) {
    .col-md-guttered {
        width: 48%; 
    }
    .col-md-gutter {
        width: 4%;
    }
}


/*--Guitar_Details.html -----------------------------------*/

.guitar-detail-image { 
    display: block;
    -o-object-fit: cover;
       object-fit: cover;
    overflow: hidden;
    width: 100%;
}

.guitar-specs {
    border: 3px solid var(--off-gold);
}

@media (max-width:767px){
    .guitar-image-container {
        margin-bottom:50px;
    }
    .guitar-comments {
        font-size: 18px;
    }
}

@media (min-width:768px) and (max-width:991px){
    .guitar-details-container {
        margin-left:10px;
    }
}

/*----Subscription Card---------------------------------------------*/

.subs-card {
    border: 3px solid var(--ivory);
    text-shadow: 
        -2px 2px var(--off-black);
    padding: 2px;
}

.subs-card:hover {
    color: var(--off-gold);
    -webkit-box-shadow: 0 0 5px 5px var(--off-gold);
            box-shadow: 0 0 5px 5px var(--off-gold);
}

.subs-card-body {
    background-color: var(--off-black);
}

.plat-subs-card {
    background-color: var(--purple);
}

.gold-subs-card {
    background-color: var(--gold);
}

.silver-subs-card {
    background-color: var(--silver);
}

.bronze-subs-card {
    background-color: var(--bronze);
}

.sub-btn {
    color:var(--ivory);
    border: 3px solid var(--ivory);
    background-color: var(--transp); /* prevents default white background */
}

.sub-btn:hover {
    background-color:var(--off-gold);
    color:var(--black);
}

/* Darker background applied to subscription button */
.plat-sub-btn {
    background-color: var(--purple-dark);
}

.gold-sub-btn {
    background-color: var(--gold-dark);
}

.silver-sub-btn {
    background-color: var(--silver-dark);
}

.bronze-sub-btn {
    background-color: var(--bronze-dark);
}



/*----Subscription Card Media Queries ------*/

/* adjust title size for large screens */
@media (min-width:992px) and (max-width:1199px){
    .subs-card > .card-body{
        padding:5px;
    }
}

/*----Checkout.html--------------------------*/

/*calculated font-size to match sizing of crispy form legend field*/
.checkout-label {
    font-size: calc(1.275rem + .3vw);
}


/* Stripe & Profile Form Elements */
.StripeElement,
.stripe-style-input,
.profile-style-input {
    font-family:var(--standard-text);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    height: 40px;
    padding: 10px 12px;
    border: 1px solid transparent;
    border-radius: 0px;
    background-color: white;
    -webkit-box-shadow: 0 1px 3px 0 #e6ebf1;
            box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    -webkit-transition: -webkit-box-shadow 150ms ease;
    transition: -webkit-box-shadow 150ms ease;
    -o-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease, -webkit-box-shadow 150ms ease;
}

.StripeElement--focus,
.profile-style-input--focus, 
.stripe-style-input:focus,
.profile-style-input--focus, 
.stripe-style-input:active,
.profile-style-input:active  {
  -webkit-box-shadow: 0 1px 3px 0 #cfd7df;
          box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.stripe-style-input::-webkit-input-placeholder, .profile-style-input::-webkit-input-placeholder  {
    color: #aab7c4;
}

.stripe-style-input::-moz-placeholder, .profile-style-input::-moz-placeholder  {
    color: #aab7c4;
}

.stripe-style-input:-ms-input-placeholder, .profile-style-input:-ms-input-placeholder  {
    color: #aab7c4;
}

.stripe-style-input::-ms-input-placeholder, .profile-style-input::-ms-input-placeholder  {
    color: #aab7c4;
}

.stripe-style-input::placeholder,
.profile-style-input::placeholder  {
    color: #aab7c4;
}

select,
select option {
    color:#000000;
}

select:invalid,
select option[value=""] {
    color: #aab7c4 !important;
}

/*-- Profile.html --*/

.profile-overview {
    background-color: var(--off-black);
    border: 2px solid var(--off-gold);
    border-radius:10px;
    padding: calc(var(--bs-gutter-x) * .5) /*-reuses existing bootstrap left and right padding calc to also apply to top and bottom */ 

}

.overview-heading {
    background-color: var(--black);
    border: 1px solid var(--off-gold);
    border-radius:5px;
    color:var(--ivory);
}

.profile-header {
    position:relative;
}

/*-bug fix: destination for same page links held within span wih a negative margin to off-set fixed nav which otherwise hides content as it scrolled to top of browser Acknwoledgment: https://stackoverflow.com/questions/10732690/offsetting-an-html-anchor-to-adjust-for-fixed-header --*/

.profile-header span {
    position:absolute;
    top:-200px;
}

@media (min-width: 768px) {
    .profile-header span {
        position:absolute;
        top:-280px;
    }
}


.no-dec {
    text-decoration:none;
}

.subs-table {
    width:100%;
    table-layout: fixed;
}

.table-underline {
    border-bottom: solid 1px;
}

.small-table-col {
    width:150px;
}

.guitar-mini-image-container {
    display:inline-block;
}

.fav-img {
    height: 25vh;
    max-width:100%;
    display: block;
    -o-object-fit: cover;
       object-fit: cover;
    overflow: hidden;
}

/*-- SiteAdmin --*/

.list-image {
    height: 5vh;
    max-width:100%;
    display: block;
    -o-object-fit: cover;
       object-fit: cover;
    overflow: hidden;
}

/*--Allauth forms ---------*/

.allauth-form-inner-content input{
    border-color: var(--off-black);
}

.allauth-form-inner-content input::-webkit-input-placeholder {
    color: var(--ivory);
}

.allauth-form-inner-content input::-moz-placeholder {
    color: var(--ivory);
}

.allauth-form-inner-content input:-ms-input-placeholder {
    color: var(--ivory);
}

.allauth-form-inner-content input::-ms-input-placeholder {
    color: var(--ivory);
}

.allauth-form-inner-content input::placeholder {
    color: var(--ivory);
}