/* Root variables & imports */
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

:root {
    
    /* Typography */
    --logo-text: 'Lobster', cursive;

    /* Color Palette */
    --primary-txt: rgb(255, 255, 240);
    
}

/*--Global Classes --*/

.logo-txt {
    font-family: 'Lobster', cursive;
}



/* Gold text mask */
.gold-txt {
    color:#c3a343; /*- backup font color if text mask fails -*/
    background: url('/media/gold-texture.jpg');
    background-size: cover;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -moz-background-clip:text;
    background-clip:text;
}

html {
    height: 100%;
}

body {
    color:var(--primary-txt);
    background-color: rgb(3, 3, 3);
}

/*-----Nav Bar----------------------------------*/

.nav-banner {
    
    background: url('/media/Banner-img.jpeg') no-repeat center bottom fixed;
    background-size: cover;
}

.navbar-logo {
    height:100%;
}

.nav-link {
    color:var(--primary-txt);
}

/* relocate dropdown icon below text */
.dropdown .dropdown-toggle::after {
    transform: translate(-35px, 16px);
}

/*----Footer----------------------------------*/

/*--Media Queries-----------------------------*/

/* Small devices */
@media (max-width: 575px) {
    /* hide logo */
    .navbar-logo {
        display:none;
    }
}