/* Root variables & imports */
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

:root {
    
    /* Typography */
    --logo-text: 'Lobster', cursive;

    /* Color Palette */
    --ivory: rgb(255, 255, 240);
    --black: rgb(0,0,0);
    --off-black: rgb(65,74,76);
    --off-gold: rgb(195, 163, 67);
    --transp: rgba(0,0,0,0);
    
}

/*--Global Classes --*/

.logo-txt {
    font-family: 'Lobster', cursive;
}

.ivory-txt {
    color:var(--ivory);
}

/* Gold text mask */
.gold-txt {
    color:var(--off-gold); /*- backup font color if text mask fails -*/
    background: url('/media/gold-texture.jpg');
    background-size: cover;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -moz-background-clip:text;
    background-clip:text;
}

html {
    height: 100%;
}

body {
    color:var(--ivory);
    background-color: var(--black);
}

/*-----Nav Bar----------------------------------*/

.nav-banner {
    background: url('/media/Banner-img.jpeg') no-repeat center bottom fixed;
    background-size: cover;
    border-bottom: 5px solid transparent;
    /*--border-color: var(--off-gold);--*/
    border-image: url('/media/gold-texture.jpg') 30% stretch;
}

.navbar-logo {
    height:100%;
}

.nav-link, .dropdown-item {
    color:var(--ivory);
}

/* Override Bootstrap default nav background */   
.bg-dark {
    --bs-bg-opacity: 0;
}

.navbar-dark .navbar-nav .nav-link {
    color: var(--ivory);
}

.navbar-toggler-icon {
    background-color:var(--off-black);
    border: 1px solid var(--off-gold);
}

/* relocate dropdown icon below text 
.dropdown .dropdown-toggle::after {
    transform: translate(-35px, 16px);
}*/

.dropdown .dropdown-toggle:hover,
.dropdown .dropdown-toggle:focus, 
.dropdown .dropdown-toggle:active  {
    color:var(--ivory);
    font-weight: bold;
    background-color: var(--black);
    background: url('/media/gold-texture.jpg');
    background-size: cover;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -moz-background-clip:text;
    background-clip:text;
}



.dropdown-menu {
    background-color: var(--black);
    border: 2px solid var(--off-gold);
}

/*--Buttons ---------------------------------*/
.btn-search,
.search-input {
    border: 3px solid var(--ivory);
}

.search-input {
    background-color: var(--ivory);
}

.input-group {
    border: 3px solid var(--transp);
}

.input-group:hover,
.input-group:focus,
.input-group:active,
.btn-search:hover,
.btn-search:focus,
.btn-search:active,
.search-input:hover,
.search-input:focus,
.search-input:active {
    border: 3px solid var(--off-gold);
    color: var(--off-gold);
}


/*----Footer----------------------------------*/

/*--Media Queries-----------------------------*/

/*- Nav Small Screen --*/
@media (max-width: 767px) {
    /* align nav dropdown items to left */
    .nav-link {
        text-align:left;
    }
}