/* Root variables & imports */
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

:root {
    
    /* Typography */
    --logo-text: 'Lobster', cursive;

    /* Color Palette */
    --ivory: rgb(255, 255, 240);
    --black: rgb(0,0,0);
    --off-black: rgb(65,74,76);
    --off-gold: rgb(238,204,102);
    --transp: rgba(0,0,0,0);
    
}

/*--Global Classes --*/

.logo-txt {
    font-family: 'Lobster', cursive;
}

.ivory-txt {
    color:var(--ivory);
}

/* Gold text mask */
.gold-txt {
    color:var(--off-gold); /*- backup font color if text mask fails -*/
    background: url('/media/gold-texture.jpg');
    background-size: cover;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -moz-background-clip:text;
    background-clip:text;
}

.gold-accent-txt:hover,
.gold-accent-txt:focus,
.gold-accent-txt:active {
    color: var(--off-gold);
}

.gold-accent-outline:hover,
.gold-accent-outline:focus,
.gold-accent-outline:active {
    border: 3px solid var(--off-gold);
    color: var(--off-gold);
}

html {
    height: 100%;
}

body {
    color:var(--ivory);
    background-color: var(--black);
}

/*-----Nav Bar----------------------------------*/

.nav-banner {
    background: url('/media/Banner-img.jpeg') no-repeat center bottom fixed;
    background-size: cover;
    border-bottom: 5px solid transparent;
    /*--border-color: var(--off-gold);--*/
    border-image: url('/media/gold-texture.jpg') 30% stretch;
}

.navbar-logo {
    height:100%;
}

/* override default anchor tag style */ 
.nav-link, .dropdown-item, .dropdown-toggle {
    color:var(--ivory);
}

/* Override Bootstrap default nav background */   
.bg-dark {
    --bs-bg-opacity: 0;
}

.navbar-dark .navbar-nav .nav-link {
    color: var(--ivory);
}

.navbar-toggler-icon {
    background-color:var(--off-black);
    border: 1px solid var(--off-gold);
}

#main-nav-items .nav-link:focus, 
#main-nav-items .nav-link:hover, 
#main-nav-items .nav-link:active,
.nav-link:focus,
.nav-link:hover,
.nav-link:active { 
    color: var(--off-gold);
    font-weight: bold;
}

.dropdown-menu {
    background-color: var(--black);
    border: 2px solid var(--off-gold);
}

/*--Header Container---*/

.header-container {
    padding-top:25vh;
}

/*--Buttons & Search Field ---------------------------------*/

.btn-search,
.search-input {
    border: 3px solid var(--ivory);
}

.search-input {
    background-color: var(--ivory);
}

.input-group {
    border: 3px solid var(--transp);
}

.btn-take {
    border: 3px solid var(--off-gold);
    color:var(--off-gold);
}

.btn-take:hover {
    background-color:var(--off-gold);
}

/*----Guitar Card---------------------------------------------*/

.guitar-card {
    border: 3px solid var(--ivory);
    padding: 2px;
}

.guitar-card-list {
    background-color: var(--transp);   
}

.tier-pendant {
   transform: translateY(1.5rem); /*--adjust top alignment of FontAwesome resizing --*/
   
}

.card-img-top {
    max-height: 40vh;
    width:auto;
}

.tp-text {
    font-weight:900;
}

.tp-gold {
    color:var(--off-gold);
}

.card-footer {
    position:relative; /*-- prevents card footer / buttons from being layered beneath the image overlay text */
}

/*----Footer----------------------------------*/

/*--Media Queries-----------------------------*/

/*- Nav Small Screen --*/
@media (max-width: 767px) {
    /* align nav dropdown items to left */
    .nav-link {
        text-align:left;
    }

    .header-container {
        padding-top:15vh;
    }
}

