{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <!--Empty container to push body content below nav bars-->
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
    
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row">
            <div class="col text-center logo-txt gold-special-txt display-4 mt-5 mb-5">
                Subscriptions
            </div>
        </div>
        <div class="row h-100">
            <div class="col main-content-col my-auto">
                <div class="row">
                    
                    {% for subscription in subscriptions %}
                        
                        <div class="col-12 col-md-6 col-lg-3">
                            
                            <div class="card subs-card 
                            {% if subscription.name == 'Platinum' %}plat-subs-card
                            {% elif subscription.name == 'Gold' %}gold-subs-card
                            {% elif subscription.name == 'Silver' %}silver-subs-card
                            {% elif subscription.name == 'Bronze' %}bronze-subs-card
                            {% endif %}">
                                <div class="card-body">
                                    <h5 class="card-title display-6"><strong>{{ subscription.name|upper }}</strong></h5>
                                    <p class="card-text">{{ subscription.price }}</p>
                                    <p class="card-text">{{ subscription.delivery }}</p>
                                    <!--'yesno' django template feature to convert boolean True/False value-->
                                    <p class="card-text">{{ subscription.re_stringed|yesno:"Yes,No" }}</p>
                                    <p class="card-text">{{ subscription.set_up|yesno:"Yes,No" }}</p>
                                </div>
                            </div>
                        </div>
                       
                    {% endfor %}

                </div>  <!--close sub-parent card row-->
            </div>      <!--close parent card col-->
        </div>          <!--close parent card row-->
    </div>              <!--close conainer-->
{% endblock %}

{% with v.release.version as version %}
<div class="pkg-buildinfo 
            {% if version == pkg.b.release.version %}active{% else %}inactive{% endif %} 
            {% if version == project.latest.version %}latest{% else %}notlatest{% endif %}">
{% endwith %}