{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <!--Empty container to push body content below nav bars-->
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
    
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row">
            <div class="col text-center logo-txt gold-special-txt display-4 mt-5 mb-5">
                Subscriptions
            </div>
        </div>

        <div class="row h-100">
            <div class="col-12 main-content-col my-auto">
                <!--Summary-->
                <div class="row">
                    <div class="col-12">
                        <p class="lead text-center mb-3">
                            We offer 4 subscription plans. Primarily, these plans provide you access to guitars at that tier. But in addition, we also bundle in some extra nice features including, express delivery, new strings and a complete set-up!
                        </p>
                        <p class="text-center mb-3 gold-txt display-6">    
                            Select the package which suits your needs to sign-up.
                        </p>
                    </div>
                </div>

                <!--Subscription Cards-->
                <div class="row">
                    {% for subscription in subscriptions %}
                        <div class="col-12 col-md-6 col-lg-3 mb-2">                        
                            <div class="card subs-card
                            {% if subscription.name == 'Platinum' %}plat-subs-card
                            {% elif subscription.name == 'Gold' %}gold-subs-card
                            {% elif subscription.name == 'Silver' %}silver-subs-card
                            {% elif subscription.name == 'Bronze' %}bronze-subs-card
                            {% endif %}">
                                <div class="card-body">
                                    <h5 class="card-title display-6 text-center"><strong>{{ subscription.name|upper }}</strong></h5>
                                    <div class="d-flex flex-row">
                                        <p class="col-6">Monthly Price:</p>
                                        <p class="card-text">£{{ subscription.price }}</p>
                                    </div>
                                    <div class="d-flex flex-row">
                                        <p class="col-6">Delivery:</p>
                                        <p class="card-text">{{ subscription.delivery }}</p>
                                    </div>
                                    <!--'yesno' django template feature to convert boolean True/False value-->
                                    <div class="d-flex flex-row">
                                        <p class="col-6">Re-Strung:</p>
                                        <p class="card-text">{{ subscription.re_stringed|yesno:"Yes,No" }}</p>
                                    </div>
                                    <div class="d-flex flex-row">
                                        <p class="col-6">Set-Up:</p>
                                        <p class="card-text">{{ subscription.set_up|yesno:"Yes,No" }}</p>
                                    </div>
                                    
                                    <!--Add subscription package to bag-->
                                    <form class="form" action="{% url 'add_to_bag' subscription.id %}" method="POST">
                                        {% csrf_token %}
                                        <input type="submit" class="rounded-pill btn-gold-outline text-center mx-auto w-100
                                        {% if subscription.name == 'Platinum' %}plat-sub-btn
                                        {% elif subscription.name == 'Gold' %}gold-sub-btn
                                        {% elif subscription.name == 'Silver' %}silver-sub-btn
                                        {% elif subscription.name == 'Bronze' %}bronze-sub-btn
                                        {% endif %}" value="Purchase {{ subscription.name }} Plan">
                                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                                    </form>

                                </div> <!--close card body-->
                            </div> <!-- close card -->
                        </div>   <!--close card col --> 
                             
                    {% endfor %}
                </div>  <!--close cards row-->
            </div>      <!--close parent card col-->
        </div>          <!--close parent row-->
    </div>              <!--close conainer-->
{% endblock %}