<!--Appends to BaseNav (base.html)-->
<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav mb-2 mb-lg-0 nav-fill w-100" id="main-nav-items">
        
        <!--About Dropdown Menu-->
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle " href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <h4 class="mb-0">About</h4>
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Guitar Vault Explained</a></li>
                <li><a class="dropdown-item" href="#">Join</a></li>
                <li><a class="dropdown-item" href="#">FAQ</a></li>
                <li><a class="dropdown-item" href="#">Contact Us</a></li>
            </ul>
        </li>  <!--Close About Menu-->

            <!--View All Guitars -->
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="{% url 'guitars' %}" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <h4 class="mb-0">View All Guitars</h4>
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">By Tier</a></li>
                <li><a class="dropdown-item" href="#">By Overall Rating</a></li>
                <li><a class="dropdown-item" href="#">By Status</a></li>
            </ul>

        </li>  <!--Close About Menu-->


        <!--Guitars Dropdown Menu-->
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle " href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <h4 class="mb-0">Electric</h4>
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="{% url 'guitars' %}?category=Electric">All Electric Guitars</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Platinum</a></li>
                <li><a class="dropdown-item" href="#">Gold</a></li>
                <li><a class="dropdown-item" href="#">Silver</a></li>
                <li><a class="dropdown-item" href="#">Bronze</a></li>
            </ul>
        </li> <!--Close Guitars Menu-->
 
        <!--Amps Dropdown Menu-->
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle " href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <h4 class="mb-0">Bass</h4>
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="{% url 'guitars' %}?category=Bass">All Bass Guitars</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Platinum</a></li>
                <li><a class="dropdown-item" href="#">Gold</a></li>
                <li><a class="dropdown-item" href="#">Silver</a></li>
                <li><a class="dropdown-item" href="#">Bronze</a></li>
            </ul>
        </li> <!--Close Amps Menu-->

        <!--Pedals Dropdown Menu-->
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle " href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <h4 class="mb-0">Acoustic</h4>
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="{% url 'guitars' %}?category=Acoustic">All Acoustic Guitars</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Platinum</a></li>
                <li><a class="dropdown-item" href="#">Gold</a></li>
                <li><a class="dropdown-item" href="#">Silver</a></li>
                <li><a class="dropdown-item" href="#">Bronze</a></li>
            </ul>
        </li> <!--Close Pedals Menu-->

        <!--Brands Dropdown Menu-->
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle " href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <h4 class="mb-0">Brands</h4>
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">All Brands</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Gibson</a></li>
                <li><a class="dropdown-item" href="#">Fender</a></li>
                <li><a class="dropdown-item" href="#">Gretsch</a></li>
                <li><a class="dropdown-item" href="#">Ibanez</a></li>
            </ul>
        </li> <!--Close Brands Menu-->

    </ul> <!--Close Nav Dropdown Menus-->

    <!--Search Form-->
    <form class="d-flex" method="GET" action="{% url 'guitars' %}">
        <div class="input-group gold-accent-outline">
            <input class="form-control search-input gold-accent-outline me-1" type="text" name="q" placeholder="Search the vault" aria-label="Search">
            <div class="input-group-append">
                <button class="btn btn-search gold-accent-outline ivory-txt" type="submit">
                    <span class="icon">
                        <i class="fas fa-search"></i>
                    </span>
                </button>
            </div>
        </div>
    </form> <!--Close Search Form-->
</div> <!--Close Search Form-->
