
<!--Profile & Shopping Bag -->
<div class="col-8 align-self-end text-end my-auto d-block d-md-none">
    <ul class="list-inline list-unstyled">

      <!--Profile (only visible to logged in users)-->
      {% if request.user.is_authenticated %}
        <li class="list-inline-item">  
          <div class="dropdown" id="user-profile-dropdown">
            <a class="ivory-txt gold-accent-txt" href="#" role="button" id="user-profile-options" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <div class="text-center">
                    <div><i class="fas fa-user fa-lg"></i></div>
                    <h6 class="my-0">My Account</h6>
                </div>
            </a>
            <!--Embedded dropdown menu-->
            <ul class="dropdown-menu" aria-labelledby="user-profile-options">
              {% if request.user.is_superuser %}
                <li><a class="dropdown-item gold-accent-txt" href="">
                  Site Admin</a></li>
              {% endif %}  
              <li><a class="dropdown-item gold-accent-txt" href="#">
                My Profile</a></li>
              <li><a class="dropdown-item gold-accent-txt" href="{% url 'account_logout' %}">
                Log Out</a></li>
            </ul>
          </div> <!--Close Embedded dropdown menu-->
        </li> 
      
      <!--Non-Logged in Users (Join / Log-In)-->
      {% else %}
        <li class="list-inline-item">
          <ul class="list-inline list-unstyled">
            <li class="list-inline-item"><a class="ivory-txt gold-accent-txt" href="{% url 'subscriptions' %}"><h6>Join</h6></a></li>
            <li class="vr"></li>
            <li class="list-inline-item ps-2"><a class="ivory-txt gold-accent-txt" href="{% url 'account_login' %}"><h6> Log In</h6></a></li>
          </ul>
        </li>
      {% endif %}
      
      <li class="list-inline-item">
        <ul class="list-inline list-unstyled">
          <!--Shopping Bag (all users)-->
          <li class="list-inline-item ">
            <a class="ivory-txt gold-accent-txt" href="{% url 'view_bag' %}">
              <div class="text-center">
                <i class="fas fa-shopping-bag fa-2x"></i>
              </div>
              <p class="my-0">
                {% if grand_total %}
                  £{{ grand_total|floatformat:2 }}
                {% else %}
                  £0.00
                {% endif %}
              </p>
            </a>
          </li>

          {% if request.user.is_authenticated %}
            <!--Picks to Spend (logged in users)-->
            <li class="list-inline-item">
              <a class="ivory-txt gold-accent-txt" href="">
                <div class="text-center">
                  <img src="{{ MEDIA_URL }}guitarpick.svg" class="guitar-svg add-gold" alt="plectrum balance">
                </div>
                <p class="my-0 text-center">
                  <!-- note, plectrum calculation at members/contexts.py -->
                  {{ user_plec_balance }}
                </p>
              </a>
            </li>
          {% endif %}
        </ul> <!--close Shopping Bag and Picks-->
      </li>
    </ul> <!-- close all Profile and Shopping / Pick list items -->
  </div> <!--close Profile col-->
