{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'members/css/profile.css' %}">
{% endblock %}

{% block page_header %}
    <!--Empty container to push body content below nav bars-->
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
    
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row">
            <div class="col mt-2">
                <h1 class="gold-special-txt text-center mb-3">Member Profile</h1> 
            </div>
            <div class="row">
                <div class="col-12 col-md-6">
                    <h4>Address</h4>
                    <form class="mt-4" action="{% url 'profile' %}" method="POST" id="member-profile-form">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button class="btn btn-gold-outline">Update</button>
                    </form>
                </div>
                <div class="col-12 col-md-6">
                    {% for order in orders %}
                        <div class="d-flex flex-row">
                            <p class="col-3 text-end">Subscription Tier:</p>
                            <p class="col-9 text-start ps-2">{{ order.subscription_plan | upper }}</p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>                         
    </div> <!--close main container-->
{% endblock %}
