{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'members/css/profile.css' %}">
{% endblock %}

{% block page_header %}
    <!--Empty container to push body content below nav bars-->
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
    
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row">
            <div class="col mt-2">
                <h1 class="gold-special-txt text-center mb-3">Member Profile</h1>
                
            </div>
            <div class="row mt-4">
                
                <!-- Address -->
                <div class="col-12 col-md-6 ps-4">
                    <h4 class="gold-txt">Address</h4>
                    <form class="mt-4 mb-5" action="{% url 'profile' %}" method="POST" id="member-profile-form">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button class="btn btn-gold-outline">Update</button>
                    </form>
                </div>

                <div class="col-12 col-md-6 ps-4">
                <!-- Subscription Plan -->
                    <h4 class="pb-3 gold-txt">Subscription Plans</h4>

                    <table class="text-center mx-auto subs-table">
                        <tr>
                            <th>Order No.</th>
                            <th>Date Started</th>
                            <th>Tier</th>
                            <th>Monthly Fee</th>
                        </tr>
                        {% for order in orders %} 
                            <tr>
                                <th>{{ order.order_number|truncatechars:14 }}</th>
                                <th>{{ order.date|date:"DATE_FORMAT" }}</th>
                                <th>{{ order.subscription_plan }}</th>
                                <th>£{{ order.subscription_price }}</th>
                            </tr>
                        {% endfor %}
                    </table>
                    
                    <!-- Guitar Rack -->
                    <div class="row">
                        <h4 class="mt-5 gold-txt">Guitar Rack</h4>

                    </div>

                    <!-- Favourite Guitars -->
                    <div class="row">
                        <h4 class="mt-5 gold-txt">Favourited Guitars</h4>

                    </div>
                </div>
            </div>
        </div>                         
    </div> <!--close main container-->
{% endblock %}
