{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>

    <!-- meta tags -->
    {% block meta %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="Guitar Vault: A Guitar Hire Service">
        <meta name="keywords" content="guitar hire">
        <meta name="author" content="Kelven Hughes">
        <!-- favicon -->
        <link rel="shortcut icon" type="image/png" href="{{ MEDIA_URL }}favicon.ico"/>
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
        <!-- Bootstrap-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <!--Fonts-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Varta&family=Lobster&display=swap" rel="stylesheet">
        <!--Base.css-->
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
        <!-- Font Awesome -->
        <script src="https://kit.fontawesome.com/d01fd203b5.js" crossorigin="anonymous"></script>
        <!-- Additional FontAwesome JS to enable 'stacking' feature-->
        <script defer src="https://use.fontawesome.com/releases/v5.15.0/js/all.js"></script>
        <!-- Bootstrap -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
        <!-- JQuery -->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <!-- Stripe -->
        <script src="https://js.stripe.com/v3/"></script>
        <!-- Local Script -->
        <script src="{% static 'js/script.js' %}"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>Guitar Vault</title>

  </head>

  <body>
    {% block header %}
      <header class="nav-banner container-fluid fixed-top">
        <!--Nested container to allow full width banner but constrain max width of content-->
        <div class="container-lg">
        <!--Top Nav Row (Logo, Title and Profile / LogIn / Join)-->
          <div class="row">

            <!--Logo-->
            <div class="col-0 col-md-3 align-self-start my-auto py-2 d-none d-md-block">
              <img class="navbar-logo" src="{{ MEDIA_URL }}GV-Logo.png"/>
            </div>

            <!--Site Title-->
            <div class="col-12 col-md-5 align-self-center text-center my-auto">
              <h1 class="logo-txt gold-special-txt display-1">
                <a href="{% url 'home' %}">Guitar Vault</a></h1>
            </div>

            <!--Profile & Shopping Bag -->
            <div class="col-0 d-none col-md-4 d-md-block align-self-end text-end">
              <ul class="list-inline list-unstyled">

                <!--Profile (only visible to logged in users)-->
                {% if request.user.is_authenticated %}
                  <li class="list-inline-item pt-5">  
                    <div class="dropdown" id="user-profile-dropdown">
                      <a class="ivory-txt gold-accent-txt" href="#" role="button" id="user-profile-options" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <div class="text-center">
                              <div><i class="fas fa-user fa-lg"></i></div>
                              <h5 class="my-0">My Account</h5>
                          </div>
                      </a>
                      <!--Embedded dropdown menu-->
                      <ul class="dropdown-menu" aria-labelledby="user-profile-options">
                        {% if request.user.is_superuser %}
                          <li><a class="dropdown-item gold-accent-txt" href="">
                            Site Admin</a></li>
                        {% endif %}  
                        <li><a class="dropdown-item gold-accent-txt" href="{% url 'profile' %}">
                          My Profile</a></li>
                        <li><a class="dropdown-item gold-accent-txt" href="{% url 'account_logout' %}">
                          Log Out</a></li>
                      </ul>
                    </div> <!--Close Embedded dropdown menu-->
                  </li> 
                
                <!--Non-Logged in Users (Join / Log-In)-->
                {% else %}
                  <li class="list-inline-item">
                    <ul class="list-inline list-unstyled">
                      <li class="list-inline-item"><a class="ivory-txt gold-accent-txt" href="{% url 'subscriptions' %}"><h4>Join</h4></a></li>
                      <li class="vr"></li>
                      <li class="list-inline-item ps-2"><a class="ivory-txt gold-accent-txt" href="{% url 'account_login' %}"><h4> Log In</h4></a></li>
                    </ul>
                  </li>
                {% endif %}
                
                <li class="list-inline-item">
                  <ul class="list-inline list-unstyled">
                    <!--Shopping Bag (all users)-->
                    <li class="list-inline-item ">
                      <a class="ivory-txt gold-accent-txt" href="{% url 'view_bag' %}">
                        <div class="text-center">
                          <i class="fas fa-shopping-bag fa-2x"></i>
                        </div>
                        <p class="my-0">
                          {% if bag_total %}
                            £{{ bag_total|floatformat:2 }}
                          {% else %}
                            £0.00
                          {% endif %}
                        </p>
                      </a>
                    </li>

                    {% if request.user.is_authenticated %}
                    <!--Outstanding : Functionality relating to 'picks to spend' has not been completed  - please refer to README -->
                      
                    <!--Picks to Spend (logged in users)-->
                      <li class="list-inline-item text-center">
                        <a class="ivory-txt gold-accent-txt" href="">
                          <div class="text-center">
                            <!--Temporary icon - to be replaced with SVG matching membership tier + counter for picks available-->
                            <i class="fas fa-map-marker fa-2x"></i>
                          </div>
                          <p class="my-0 text-center">
                            {% if picks_total %}
                              {{ picks_total }}
                            {% else %}
                              0
                            {% endif %}
                          </p>
                        </a>
                      </li>
                    {% endif %}
                  </ul> <!--close Shopping Bag and Picks-->
                </li>
              </ul> <!-- close all Profile and Shopping / Pick list items -->
            </div> <!--close Profile col-->

          </div>  <!--close Top Nav row -->

          <!--Lower Nav Row -->
          <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <div class="container-fluid ps-0 pe-0">
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>

              
              {% include 'includes/mobile-nav-items.html' %}
              {% include 'includes/main-nav-items.html' %}
            
            </div>
          </nav>  <!--close Lower Nav row -->
        </div>    <!--close lg-container -->
      </header>   <!--close nav-banner container -->
    {% endblock %}

    {% if messages %}
        <div class="message-container">

        </div>
    {% endif %}

    {% block page_header %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% block modals %}
      <!-- Modals -->
      <div class="modal fade" id="gv-explained-Modal" tabindex="-1" aria-labelledby="gv-explainedModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-fullscreen">
          <div class="modal-content">
            <div class="modal-header">
              <h2 class="modal-title gold-txt text-center w-100" id="gv-explainedModalLabel">
                Guitar Vault Explained
              </h2>
              <button type="button" class="btn-close btn-gold-outline gold-txt" data-bs-dismiss="modal" aria-label="Close">
              </button>
            </div>
            <div class="modal-body">
              <div class="col-12 col-md-10 offset-md-1 text-center">
                <div class="lg-txt">
                  <p>Guitar Vault is provided by guitarists for guitarists!</p>
                  <p>Many guitarists suffer from Gear Acquisition Syndrome (GAS) - a strong desire to acquire more gear!</p>
                  <p>But this causes severe bank balance harm and just where does it all go? And at the end of the day, do you really want to own all those instruments or is what you're really after is being able to inject some variation into the instruments you pick up?</p>
                  <p>This is where Guitar Vault comes in. Members get to quell their GAS by receiving a different guitar every month!</p>
                  <p class="d-none d-md-block">Wanted to see how an original Gibson Les Paul Standard really compares with a Modern? Perhaps you've always wanted to try out a new brand before making a purchase. OR you've invested heavily into electric guitars and fancy playing on an acoustic.</p>
                  <p>Sign up today and you'll be able to find out for yourself. Just follow these steps;</p>
                </div>

                <div class="col-12 col-md-8 offset-md-2 modal-border py-2">
                  <div class="d-flex flex-row col-12 mt-3">
                    <p class="d-none d-md-block col-md-4 my-auto gold-txt lg-txt">STEP 1</p>
                    <div class="col-12 col-md-8">
                      <div class="row">
                        <p class="col-12 gold-txt lg-txt">Head to our subscriptions to see our range of plans</p>
                      </div>
                      <div class="row">
                        <p class="col-12 text-muted">Our tiered plans provide access to higher value guitars in addition to other benefits</p>
                        <a href="{% url 'subscriptions' %}" class="btn btn-gold-outline w-50 mx-auto">View Our Subscription Plans
                        </a>
                      </div>
                    </div>
                  </div>
                    
                  <hr>

                  <div class="d-flex flex-row col-12 mt-3">
                    <p class="d-none d-md-block col-md-4 my-auto gold-txt lg-txt">STEP 2</p>
                    <div class="col-12 col-md-8">
                      <div class="row">
                        <p class="col-12 gold-txt lg-txt">
                          Sign-up by selecting your plan and complete the sign-up and payment.
                        </p>
                      </div>
                    </div>
                  </div>
                  
                  <hr>

                  <div class="d-flex flex-row col-12 mt-3">
                    <p class="d-none d-md-block col-md-4 my-auto gold-txt lg-txt">STEP 3</p>
                    <div class="col-12 col-md-8">
                      <div class="row">
                        <p class="col-12 gold-txt lg-txt">
                          Browse through our available guitars and make your first choice!
                        </p>
                        <div class="row">
                          <a href="{% url 'guitars' %}" class="btn btn-gold-outline w-50 mx-auto">Take an early peek at the guitars now!
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="gv-FAQ-Modal" tabindex="-1" aria-labelledby="gv-FAQModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h2 class="modal-title text-center w-100" id="gv-FAQModalLabel">
                FAQ
              </h2>
              <button type="button" class="btn-close btn-gold-outline gold-txt" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="col-12 col-md-10 offset-md-1">
                <div class="row">
                  <h4 class="gold-txt"> Q: Why do you offer different prices?</h4>
                  <p>A: Our guitars are matched to the subscription tiers based on financial values. For example, we have to pay higher insurance / delivery insurance for more expensive items. It would not be fair to operate a single pricing model and pass these costs onto everyone. But to help soften the blow, we also provide some additional fantastic benefits for the upper tiers</p>
                </div>
                <div class="row">
                  <h4 class="gold-txt"> Q: If I join at one tier can I loan guitars on a different tier?</h4>
                  <p>A: At the moment we can only allow members to take a lower tiered guitar.</p>
                </div>
                <div class="row">
                  <h4 class="gold-txt"> Q: If I take a lower tiered guitar will I be reimbursed?</h4>
                  <p>A: At the end of 12 months, your total loans will be assessed. If you have a difference (i.e. plectrum tokens not used, or number used for lower tiered items) we will look at offering a discount for the next 12 months.</p>
                </div>
                <div class="row">
                  <h4 class="gold-txt"> Q: Can I cancel?</h4>
                  <p>A: You can request to change (upgrade / downgrade) or cancel at anytime. Note that if you request to cancel or downgrade and have a guitar currently loaned this will not be acted upon until the guitar has been returned.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="gv-contact-Modal" tabindex="-1" aria-labelledby="gv-contactModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h2 class="modal-title gold-txt text-center w-100" id="gv-contactModalLabel">
                Contact Us
              </h2>
              <button type="button" class="btn-close btn-gold-outline gold-txt" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
          <div class="modal-body">
            <div class="col-12 col-md-10 offset-md-1">
              <div class="row">
                <h4 class="gold-txt"> You can contact us at the following;</h4>
                  <div class="d-flex flex-row col-8 mt-3">
                    <p class="col-6 my-auto gold-txt">EMAIL</p>
                    <p class="col-6">guitarvault@musician.org</p>
                  </div>
                  <div class="d-flex flex-row col-8 mt-3">
                    <p class="col-6 my-auto gold-txt">PHONE</p>
                    <p class="col-6">01234 567891</p>
                  </div>
                  <p class="text-muted">This site is for educational purposes and therefore contact details do not exist.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endblock %}

    {% block postloadjs %}
    {% endblock %}
   
  </body>
</html>